<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<div class="container h-100" style="padding-top:5%">
<div class="card col-md-3 offset-md-4 mb-5 mt-5" style="background-color: rgba(255, 255, 255, 0.7); padding-left: 20px; left: 5%;">
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <h2 class="mt-2">Password Reset</h2>
    <p style="font-size:20px">Write your email address.</p>
    <p style="font-size:20px">{{ form.email }}</p>
    <input type="submit" class="btn btn-primary mb-3" value="Reset password">
</form>
</div>
</div>
{% endblock %}
</body>
</html>