body {
    background-image: url('/static/images/background.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

