<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card col-md-3 offset-md-4 mb-5 mt-5"
     style="background-color: rgba(255, 255, 255, 0.7); padding-left: 20px; left: 5%">
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="col-md-10 offset-md-1 mt-3" style="font-size: 20px">
            {{ password_form|crispy }}
        </div>
        <div class="col-md-10 offset-md-1 mt-3 mb-3">
            <button class="btn btn-primary" type="submit" style="font-size:20px">Change Password</button>
            <button class="btn btn-secondary col-md-4" style="height:43px"><a class="nav-link"
                                                                              href="{% url 'profile' %}"
                                                                              style="position: relative;color: white; font-size:20px; bottom:6px">Cancel</a>
            </button>
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>